.idea/*
.gradle/*

### npm or yarn (프론트 대비) ###
node_modules/
mysql-data/*
build/*

*/application-private.properties
src/main/resources/application-private.properties
.gitignore
mysql-data/
src/test/*
