# 2차 베타 테스팅 결과

![AI 질문 기능 피드백](../images/beta-result-1.png)

![AI 질문 기능 피드백](../images/beta-result-2.png)

![AI 질문 기능 피드백](../images/beta-result-3.png)